body {
  text-align: center;
  margin-top: 30px;
  font-family: "IM Fell DW Pica", serif;
  background-color: #b59b7c;
  color: rgb(87, 66, 39);
  margin-top: 250px;
}


#valentineQuestion {
  font-size: 50px;
  margin-bottom: 10px;
}
.answerButton {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  font-family: "IM Fell DW Pica";
  margin-bottom: 20px;
  background-color: #b59b7c;
  color: rgb(87, 66, 39);
  border-radius: 12px;
  border: 2px solid black;
  box-shadow: 1px 1px 2px black;
  transition: 0.3s;
}

.answerButton:hover {
  background-color: #b59b7c;
  color: rgb(87, 66, 39);
  border: solid black;
  box-shadow: #fff;
  transition: 0.2ms;
}
